<div class="row justify-content-center">
     <div class="col-md-10">
          <div class="card mb-3">
               <div class="card-body">  
                    <form action="/blog" method="post">
                         <div class="mb-3">
                              <label for="title" class="control-label">Title</label>
                              <input type="text" class="form-control" id="title" name="title">
                         </div>
                         <div class="mb-3">
                              <label for="content">Content</label>
                              <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
                              
                         </div>
                         <div class="mb-3">
                              <button class="btn btn-dark float-end">Save</button>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>