<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="card mb-3">
      <div class="card-body">
        <form action="/blog/update?_method=PUT" method="post">
          <input type="hidden" name="_id" value="<%= blog._id %>">
          <div class="mb-3">
            <label for="title" class="control-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              value="<%= blog.title %>"
              name="title"
            />
          </div>
          <div class="mb-3">
            <label for="content">Content</label>
            <textarea
              name="content"
              id="content"
              cols="30"
              rows="10"
              class="form-control">
<%= blog.content %></textarea>
          </div>
          <div class="mb-3">
            <button class="btn btn-dark float-end">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
